<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
         <wizard
            category="org.eclipse.epf.ui.exportWizards.category"
            class="org.eclipse.epf.export.pattern.ui.wizards.ExportPatternWizard"
            icon="icons/etool16/product.gif"
            id="org.eclipse.epf.export.pattern.ui.wizards.ExportPatternWizard"
            name="%exportProjectTemplateWizardName">
         <description>
               %exportProjectTemplateWizardDescription
         </description>
      </wizard>
   </extension>
   
      <extension-point
         id="exportPatternWizard"
         name="Export Pattern Wizard Extension"
         schema="schema/ExportPatternWizard.exsd" />
   
   <extension
         point="org.eclipse.epf.ui.exportWizards">
      <wizard
            id="org.eclipse.epf.export.pattern.ui.wizards.ExportPatternWizard">
      </wizard>
   </extension>

</plugin>
